/* style.css */
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Source Serif Pro', serif;
  /* This centers our canvas horizontally. */
  justify-content: center;
  /* This centers our canvas vertically. */
  align-items: center;
}

.descript {
  padding: 1em;
  max-width: 450px;
}
