/* style.css */
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Source Serif Pro', serif;
  justify-content: flex-end;
  align-items: center;
  padding-top: 150px;
}

#descript {
  padding: 1em;
  max-width: 450px;
}

.navigation {
  position: fixed;
  top: 20px;
  width: 100%;
}

.navigation .standby:hover {
  text-decoration: underline green;
  cursor: pointer;
}

.navigation .active {
  text-decoration: underline #428BCA;
}

.footer {
  position: fixed;
  bottom: 20px;
}

a {
  color: green;
}
a:visited {
  color: green;
}

.soon {
  color: grey;
}
.soon:visited {
  color: grey;
  text-decoration: underline white;
}
